@{
    ViewData["Title"] = "Home Page";
}
<br /><br /><br /><br />
<div align="center">
    <p>
        <b>
            Student Management System is a web application that demonstrates a simplified system for
            organizing and managing students. This web app is connected to a database, which stores
            main informations about students. It is made by using ASP.NET Core and Entity framework.
            Main language that is being used is C#.
        </b>
    </p>
</div><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />
<br /><br /><br />